langchain
langchain_google_community
langchain_google_genai
langchain_pinecone
langgraph
pinecone
apscheduler
discord
spotipy
toml
youtube_transcript_api
pika
uvicorn[standard]
fastapi
dotenv
redis
google-auth-oauthlib
geopy
pytz
